.main-container{
  background: beige;
  min-height: 100vh;
  display:flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}
h1{
  color: red;
  font-size: 90px;
  text-shadow: 1px 1px 10px #999;
}