.main-container{
  background: beige;
  min-height: 100vh;
  display:flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}
h1{
  color: red;
  font-size: 90px;
  text-shadow: 1px 1px 10px #999;
  padding: 30px;
}
.form-container
{
  background: #fff;
  min-height: 500px;
  width: 500px;
  box-shadow: 1px 1px 10px #999;
  border-radius: 20px;
  display:flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  padding: 40px;
}

.form-container > div
{
  width: 100%;

}

label{
  display: block;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}
.query-input{
  font-size: 24px;
  padding: 10px;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 10px #999;
  border-radius: 10px;
}
.questions-input{
  width: 100%;

}
.difficulty-input
{
  font-size: 24px;
  padding: 10px;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 10px #999;
  border-radius: 10px;
}
.submit-button{
  width: 100%;
  font-size: 24px;
  padding: 14px;
  border: none;
  background: linear-gradient(to right, orange, rgb(105, 59, 3));
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.submit-button:hover{
  background: linear-gradient(to left, orange, rgb(105, 59, 3));
}